:root {
    --blue-color: #36c;
    --gray-border-color: #a2a9b1;
    --gray-text-color: #54595d;
    --gray-background-color: #f8f9fa;
    --font-family-title: 'Linux Libertine', serif;
    --font-familiy-content: -apple-system, sans-serif;
  }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;	
}
html {
    font-size: 62.5%;
}

body {
    color: var(--gray-text-color);
    font-family: var(--font-familiy-content);
    font-weight: 300px;
    font-size: 1.3rem;
    margin: 0 1.3rem;
}

a {
    text-decoration: none;
}
a:hover {
    color: var(--blue-color);
    text-decoration: underline;
}

/*Header*/
.header {
    color: black;
    font-family: var(--font-family-title);
    padding:  3.8rem 0 1.5rem 0;
    text-align: center;
}
.header h1 {
    font-size: 2.3rem;
    font-weight: normal;
    text-transform: uppercase;
}
.header h1 span {
    font-size: 3.4rem;
}
.header h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

/*Main*/

/*Inicio del Nav*/
.main .nav-container {
    display: grid;
    grid-template-columns: 10px repeat(7, 70px) 10px;
    grid-template-rows: repeat(5, 65px);
    justify-content: center; 
} 
.nav-articule {
    text-align: center;
}
.nav-articule strong {
    font-size: 1.2rem;
    color: var(--blue-color);
}
.nav-articule p {
    font-size: 0.93rem;
    margin: 0.5rem 0 0;
}
.nav-articule:nth-of-type(1) {
    grid-column: 3 / span 2;
    justify-self: start;
}
.nav-articule:nth-of-type(2) {
    grid-column: 6 / span 2;
    justify-self: end;
}
.nav-articule:nth-of-type(3) {
    grid-row: 2;
    grid-column: 2 / span 2;
    justify-self: start;
}
.nav-articule:nth-of-type(4) {
    grid-row: 2;
    grid-column: 7 / span 2;
    justify-self: end;
}
.nav-articule:nth-of-type(5) {
    grid-row: 3;
    grid-column: 1 / span 3;
    justify-self: start;
}
.nav-articule:nth-of-type(6) {
    grid-row: 3;
    grid-column: 7 / span 3;
    justify-self: end;
}
.nav-articule:nth-of-type(7) {
    grid-row: 4;
    grid-column: 2 / span 2;
    justify-self: start;
}
.nav-articule:nth-of-type(8) {
    grid-row: 4;
    grid-column: 7 / span 2;
    justify-self: end;
}
.nav-articule:nth-of-type(9) {
    grid-row: 5;
    grid-column: 3 /span 2;
    justify-self: start;
}
.nav-articule:nth-of-type(10) {
    grid-row: 5;
    grid-column: 6 / span 2;
    justify-self: end;
}
.nav-logo {
    grid-row: 2 / 5;
    grid-column: 4 / 7;
    margin: 0;
}
.nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}